:root {
	/* size */
	--base-size: 22px;

	/* spacing */
	--margin: 1rem;

	/* color */
	--color-primary: #E33529;
	--color-secondary: white;
	--color-background: #F3F3E9;

	/* family */
	--font-family-primary: 'hammersmith one';
	--font-family-secondary: 'fredoka';

	font-size: var(--base-size);
}
@media (min-width: 600px) {
:root {
	--base-size: 22px;
}
}
body {
	background-color: var(--color-background);
	color: var(--color-primary);
	font-family: var(--font-family-primary);
	padding: 1rem 2rem 0rem 2rem;
}



/* heading */
header {
	background-color: var(--color-background);
	/* padding-block: calc(5*var(--base-size)); */
	margin-inline: var(--gutter-sizer);
	font-size: var(--base-size);
	margin-bottom: calc(4*var(--margin));
	font-weight: 500;
	}



/* main	 */
h1 {
	font-size: calc(6*var(--base-size));
	letter-spacing: -8px;
	font-weight: 400;
}
p {
	font-family: var(--font-family-secondary);
}
.top-heading {
	display: flex;
	justify-content: space-between;
}
.title {
	display: flex;
	align-items: center;
}
.repository {
	border-radius: 25px;
	border-color: var(--color-primary);
	border: 1.5px var(--color-primary) solid;
	padding: .4rem .8rem;
	font-family: var(--font-family-secondary);
	font-weight: 400;
	margin-left: calc(.5*var(--base-size));
	font-size: calc(.8*var(--base-size));
}
.view-website {
	border-radius: 25px;
	padding: .4rem .8rem;
	border: 1.5px var(--color-primary) solid;
	font-family: var(--font-family-secondary);
	font-weight: 400;
	background-color: var(--color-primary);
	margin-left: calc(.5*var(--base-size));
	color: var(--color-background);
	font-size: calc(.8*var(--base-size));
}



/* side-menu */
.menu {
	position: fixed;
	right: 0;
	top: 22%;
	background-color: #F0B5BE;
	padding: 1rem;
	border-top-left-radius: 1.2rem;
	border-bottom-left-radius: 1.2rem;
}
.menu ul {
	display: flex;
	flex-direction: column;
	gap: calc(2*var(--base-size)); 	
	padding-top: calc(1.5*var(--base-size)); 
	padding-bottom: calc(1.5*var(--base-size)); 
}
.menu button.active {
	color: white;
  }

  
/* image */
.hero-image {
	width: 70%;
	height: auto;
	object-fit: contain;
	display: block;
	margin: 0 auto;
	}


	/* mickey mouse hand */
	.menu button,
	.repository button,
	.view-website button {
 	 cursor: pointer;
}