:root {
	/* size */
	--base-size: 22px;
	/* --gutter-size: calc(3 * var(--base-size)); */

	/* spacing */
	--margin: 1rem;

	/* color */
	--color-primary: #E33529;
	--color-secondary: white;
	--color-background: #F3F3E9;

	/* family */
	--font-family-primary: 'hammersmith one';
	--font-family-secondary: 'fredoka';

	font-size: var(--base-size);


}
@media (min-width: 600px) {
:root {
	--base-size: 22px;
}
}
body {
	background-color: var(--color-background);
	color: var(--color-primary);
	font-family: var(--font-family-primary);
	padding: 1rem 2rem 0rem 2rem;
}



/* heading */
header {
	background-color: var(--color-background);
	/* padding-block: calc(5*var(--base-size)); */
	margin-inline: var(--gutter-sizer);
	font-size: var(--base-size);
	margin-bottom: calc(4*var(--margin));
	font-weight: 500;
	}



/* main	 */
h1 {
	font-size: calc(7*var(--base-size));
	letter-spacing: -5px;

}
p {
	font-family: var(--font-family-secondary);
}
.top-heading {
	display: flex;
	justify-content: space-between;
}
.title {
	display: flex;
}
.repository {
	border-radius: 25px;
	border-color: var(--color-primary);
	border: 3px var(--color-primary) solid;
	padding: .4rem .8rem;
	font-family: var(--font-family-secondary);
	font-weight: 400;
	margin-left: calc(.5*var(--base-size));
}
.view-website {
	border-radius: 25px;
	padding: .4rem .8rem;
	font-family: var(--font-family-secondary);
	font-weight: 400;
	background-color: var(--color-primary);
	margin-left: calc(.5*var(--base-size));
	color: var(--color-background);
}

/* side-menu */
.menu {
	position: fixed;
	right: 0;
	top: 30%;
	background-color: #F0B5BE;
	padding: 1.5rem;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}

.menu ul {
	display: flex;
	flex-direction: column;
	gap: calc(3*var(--base-size)); 
	padding-top: calc(1.5*var(--base-size)); 
	padding-bottom: calc(1.5*var(--base-size)); 
}



/* footer */
footer {
	padding-top: var(--base-size);
}

.gutters {
	padding-inline: var(--gutter-size);
}	


.hero-image {

	width: 70%;
	height: auto;
	object-fit: contain;
	display: block;
	margin: 0 auto;
	}